body {
  font-family: "Arial", Helvetica, sans-serif;
  text-align: center;
  color: rgb(34, 86, 51);
  background: hsl(0, 0%, 100%);
  min-width: 400px;
}


#main {
  margin: 35px 60px 50px 60px;
  padding-bottom: 25px;
  background: rgb(239, 243, 240);
  border-radius: 10px;
}
#title {
  padding-top: 25px;
}
#title-caption {
  padding: 0 5px;
}

img{
  max-width: 100%;
  max-height: 500px;
  display: block;
  height: auto;
  margin: auto;
}
#img-div{
  width: 100%;
}
#img-caption {
  padding-top: 5px;
  font-size: 14px;
  color: rgba(34, 86, 51, 0.8);
}
ul {
  max-width: 666px;
  margin: auto;
  text-align: left;
  padding-left: 10px;
}
li {
  margin: 10px;
}
